@media screen and (max-width: @phoneLandscapeViewportWidth){

    .js--modal .modal--checkout-add-article {

        .modal_paypal_button_de {
            margin-top: 8px;
        }

        .modal--actions {
            .link--checkout {
                margin-top: 8px;
            }

            .link--confirm{
                margin-top: 8px;
            }
        }

    }

}

@media screen and (min-width: @phoneLandscapeViewportWidth){

    .js--modal .modal--checkout-add-article {

        .modal_paypal_button_de {
            width: 49%;
        }

        .modal--actions {
            .link--checkout {
                margin-top: 0px;
            }

            .link--confirm{
                margin-top: 8px;
            }
        }
    }
}

@media screen and (min-width: @tabletViewportWidth) {

    .js--modal .modal--checkout-add-article {

        .modal_paypal_button_de {
            width: 32%;
        }

        .modal--actions {
            .btn {
                width: 32%;
            }

            .link--confirm{
                margin-top: 0px;
            }

            .link--confirm{
                margin: 0 2% 0 2%;
            }
        }
    }
}


.js--modal .modal--checkout-add-article {

    .modal--actions {
        .btn {
            height: 44px;
            line-height: 42px;
            text-align: center;
            padding: .125rem 1.25rem .125rem 1.25rem;
            font-size: 1rem;
        }
    }
}

.modal_paypal_button_de {

    margin-top: 8px;

    a {
        float: right;
    }

    img {
        height: 100%;
    }
}


